[tool.ruff]
line-length = 88

select = ["E", "F", "I"]
ignore = [ "E501" ]


[tool.mypy]
python_version = "3.10"
warn_redundant_casts = true
disallow_untyped_calls = true
disallow_untyped_defs = true
no_implicit_optional = true
