# shellcheck shell=bash

env_vars_required GITHUB_TOKEN TF_TOKEN_app_terraform_io TFE_TOKEN

use flake .#terraform

TF_VAR_hydra_admin_password="$(sops -d --extract '["hydra-admin-password"]' ../hosts/build03/secrets.yaml)"
TF_VAR_passphrase="$(sops -d --extract '["terraform_passphrase"]' ../secrets.yaml)"
export TF_VAR_passphrase TF_VAR_hydra_admin_password
