# shellcheck shell=bash

env_vars_required GITHUB_TOKEN TF_TOKEN_app_terraform_io TFE_TOKEN

use flake .#terraform

TF_VAR_passphrase="$(sops -d --extract '["passphrase"]' secrets.yaml)"
export TF_VAR_passphrase
