source_up

if [[ ! -e ./.envrc.private ]]; then
  # print warning in red
  echo -e "\033[0;31mPlease create .envrc.private file from .envrc.private-template to use this target\033[0m" >&2
else
  source .envrc.private
fi

watch_file .envrc.private
