<p>
{{ if eq .Status "firing" }}
🔥 <strong><font color="#ff0000">FIRING</font></strong>
{{ else if eq .Status "resolved" }}
✅ <strong><font color="#33cc33">RESOLVED</font></strong>
{{ else }}
<strong><font>{{.Status}}</font></strong>
{{ end }} <b><code>[{{.Labels.host}}]</code> >> <code>{{.Labels.alertname}}</code></b>
</br>
{{.Annotations.description}}
</p>
