name: "Nix"
on:
  push:
jobs:
  tests:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v12
    - uses: cachix/cachix-action@v8
      with:
        name: nix-community
        extraPullNames: nixpkgs-update
    - run: nix-build
