name: "repo list"

on:
  repository_dispatch:
  workflow_dispatch:
  schedule:
    - cron: "51 2 * * *"

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: setup
        id: setup
        run: |
          echo "title=devdoc: update repo list $(date -u +"%Y-%m-%d")" >> "$GITHUB_OUTPUT"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
      - name: Update repo list
        env:
          # avoid rate limit
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh api --paginate /orgs/nix-community/repos --jq '.[].html_url' | sort > devdoc/repo_list
      - uses: peter-evans/create-pull-request@v7
        id: update
        with:
          branch: update-repo-list
          commit-message: ${{ steps.setup.outputs.title }}
          title: ${{ steps.setup.outputs.title }}
          token: ${{ secrets.GITHUB_TOKEN }}
